

.image_css {
    object-fit:cover;
    width:100%;
    height:100%;
    border-radius:19px ;
    position:relative;
    transition: transform 0.5s, filter 0.5s ease-out;
    transform-origin: center center;
    filter: brightness(60%);
}

.image_css:hover {
    filter: brightness(85%);
    transform: scale(1);
}

.text_css {
    font-family: 'Montserrat', serif;
    position:absolute;
    margin-left:-4px;
    margin-top:-6%;
    color:#f1f6f9;
}
