<!DOCTYPE html>
<html>
<head>
	<title>Insights</title>
	<link rel="stylesheet" href="../static/chat.css">
</head>
<body>





	{# chat design #}
		<div class="wrapper">
				<div class="chat-box">
					<div class="chat-head">
						<h2>Chat Box</h2>
						<img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
					</div>
					<div class="chat-body">
						<div class="msg-insert">
		  {# <div class="msg-send"> Send message </div> #}
		  <div class="msg-receive"> Ask your questions? </div>
		</div>
						<div class="chat-text">
							<textarea placeholder="Send"></textarea>
						</div>
					</div>
				</div>
			</div>

<script src="../js/main.css"></script>
</body>
</html>